<div class="container">
  <div class="item" routerLink="/home" [routerLinkActive]="'active'">
    Home
  </div>
  <div class="item" routerLink="/about" [routerLinkActive]="'active'">
    About us
  </div>
  <div class="item" routerLink="/photos" [routerLinkActive]="'active'">
    Photos
  </div>
  <div class="item" routerLink="/contact" [routerLinkActive]="'active'">
    Contact
  </div>
  <div >
    <button (click)="logout()" class="logout">
      <span class="item">Log Out</span>
    </button>
  </div>
</div>
