<div class="container">
  <div class="item" routerLink="/home" [routerLinkActive]="'active'">
    Strona główna
  </div>
  <div class="item" routerLink="/about" [routerLinkActive]="'active'">
    Zaręczyny
  </div>
  <div class="item" routerLink="/wedding" [routerLinkActive]="'active'">
    Wesele & Kontakt
  </div>
  <div class="item" routerLink="/photos" [routerLinkActive]="'active'">
    Zdjęcia
  </div>
  <div >
    <button (click)="logout()" class="logout">
      <span class="item">Wyloguj się</span>
    </button>
  </div>
</div>

<div class="icon-container">
  <img src="assets/images/line.png">
</div>


