@import "../../../styles";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: $white;
  box-sizing: border-box;
}

.logout {
  border: none;
  color: $dark;
  background-color: $white;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.item {
  font-family: MoonTime-Regular;
  font-size: 28px;
  cursor: pointer;
  transition: .3s all;
  outline: none;
}

.item:hover {
  color: $gold;
}

.active {
  color: $gold;
  cursor: auto;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 16px 0 32px;

  img {
    width: 230px;
  }
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
  .container {
    display: none;
  }
}

@media only screen and (max-device-width: 568px) and (orientation: portrait) {

}
