@import "../../../styles";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  height: 64px;
  background-color: $white;
  //border-bottom: 1px solid $gold;
  //position: fixed;
  //top: 0;
  //box-shadow: 0 10px 30px rgba($gold, .3);
  box-sizing: border-box;
}

.logout {
  border: none;
  color: $dark;
  background-color: $white;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.item {
  font-family: MoonTime-Regular;
  font-size: 36px;
  cursor: pointer;
  transition: .3s all;
  outline: none;
}

.item:hover {
  color: $gold;
}

.active {
  color: $gold;
  cursor: none;
}
