<div class="container">
  <div class="item" routerLink="/home" [routerLinkActive]="'active'">
    {{'navbar.mainPage' | translate}}
  </div>
  <div class="item" routerLink="/about" [routerLinkActive]="'active'">
    {{'navbar.about' | translate}}
  </div>
  <div class="item" routerLink="/photos" [routerLinkActive]="'active'">
    {{'navbar.photos' | translate}}
  </div>
  <div class="item" routerLink="/contact" [routerLinkActive]="'active'">
    {{'navbar.contact' | translate}}
  </div>
  <div >
    <button (click)="logout()" class="logout">
      <span class="item">{{'navbar.logout' | translate}}</span>
    </button>
  </div>
</div>
