@import "../../../../../styles";

p {
  font-size: .9rem;
  margin: 0 0 2rem 0;
  color: $dark;
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
  p {
    font-size: .8rem;
    margin: 0 0 1rem 0;
    text-align: center;
  }
}

@media only screen and (max-device-width: 568px) and (orientation: portrait) {

}
