<div class="layout-wrapper" *ngIf="showShell" [style.overflow]="hiddenScrollbar ? 'hidden' : 'auto'">

  <div class="content" [style.height]="setContentHeight()">
    <mat-progress-bar
      *ngIf="loading" color="accent" mode="indeterminate">
    </mat-progress-bar>
    <ng-container *ngIf="!loading">
      <div class="inner-content">
        <app-title></app-title>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet *ngIf="!showShell"></router-outlet>
