<div class="layout-wrapper" *ngIf="showShell">

  <div class="content" [style.height]="setContentHeight()">
    <ng-container>
      <div class="inner-content">
<!--        <app-lang></app-lang>-->
        <app-mobile-menu></app-mobile-menu>
        <app-title></app-title>
        <app-navbar></app-navbar>
        <div style="position: relative">
<!--          <mat-progress-bar style="position: absolute; top: 0"-->
<!--                            *ngIf="loading" color="accent" mode="indeterminate">-->
<!--          </mat-progress-bar>-->
          <div>
            <router-outlet *ngIf="!loading"></router-outlet>
          </div>

          <app-footer></app-footer>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet *ngIf="!showShell"></router-outlet>

