.navbar-container {
  height: 64px;
}

//.content {
//  background: url("../assets/images/photo1.jpg") center center no-repeat;
//}

.inner-content {
  padding: 0 10%;
}

img {
  max-width: 100%;
}

.blur {
  filter: blur(10px);
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
  .inner-content {
    padding: 0 16px;
  }
}

@media only screen and (max-device-width: 568px) and (orientation: portrait) {

}
