<div class="container">
  <div class="content">
    <div class="paragraph1">
      <h2 class="title">Zapraszamy na wesele!</h2>
      <p>Wierzchowiska Golf & Country Club to jedyny kompleks golfowy we wschodniej części Polski położony w sercu Wyżyny Lubelskiej w miejscowości Wierzchowiska 15 km od centrum Lublina w kierunku Zamościa, przy trasie S17.
      </p>

      <p>W centrum kompleksu znajduję się odrestaurowany zabytkowy Pałac, w którym mieści się Restauracja Pałacowa.</p>

      <p>
        Ogromny malowniczy ogród jest idealnym miejscem na lipcowy ślub w plenerze. Po ceremonii zapraszamy na przyjęcie weselne,
        które odbędzie się w pięknej przeszklonej altanie!
      </p>
    </div>

    <div class="photo1">
      <img src="assets/images/sala.jpg">
    </div>
  </div>

  <div class="content" style="margin-top: 32px">
    <div class="photo1">
      <img src="assets/images/ogrod.jpg">
    </div>

    <div class="paragraph2">
      <h2 class="title">Kontakt</h2>
      <p>W razie pytań prosimy o kontakt:</p>
      <p class="name">Milena: 518 223 181</p>
      <p class="name">Krzysztof: 731 864 495</p>
    </div>
  </div>
</div>
