<div class="container">
  <div class="content">
    <div class="paragraph1">
      <h2 class="title">Zaręczyny</h2>
      <p>15.07.2020</p>
      <p>K: W lipcu 2020 zabrałem Milenę na podróż do Włoch. Oboje chcieliśmy odetchnąć od pracy
        i kolejny raz odwiedzić kraj, który wspólnie obdarzyliśmy ogromną miłością. Bolonia,
        Florencja, Rzym - taki był nasz plan podróży.
      </p>
      <p>
        M: Krzysiek zaplanował cały wyjazd - mówił, że to dla mnie prezent z okazji trzeciej rocznicy
        związku, którą spędziliśmy w mieszkaniu, ze względu na lockdown. We Włoszech było
        pięknie, uwielbiam ten klimat. Nie miałam pojęcia, że przez kilka dni nosiliśmy w plecaku
        pierścionek zaręczynowy.
      </p>
      <p>
        K: Zaplanowałem to tak, żeby nikt się nie domyślał. Milena była przekonana, że poczekam
        do jej 30 urodzin ( a do nich były jeszcze 4 lata). Od początku wyjazdu szukałem
        odpowiedniego momentu, a kiedy już go wybrałem, zaczęło lać - i nie zapowiadało się, że
        przestanie.
      </p>
      <p>
        M: Schowaliśmy się w małej włoskiej knajpie. Jedliśmy pizzę i piliśmy białe wino. Kelnerka
        była tak miła, że musiałam zostawić jej napiwek. Chyba była zaskoczona, bo przy wyjściu
        przybiegła do nas z limoncello “od firmy”.
      </p>
      <p>
        K: Wyszło słońce. Poszliśmy na spacer w stronę Ogrodu Boboli, największego parku we
        Florencji, z którego można podziwiać całe miasto.
      </p>
      <p>
        M: Doszliśmy do tych słynnych ogrodów, w których Krzysiek chciał “porobić mi ładne
        zdjęcia”. Niestety, przez ulewę nie zdążyliśmy przed zamknięciem… Czas otwarcia parku był
        skrócony.
      </p>
    </div>

    <div class="photo1">
      <img src="assets/images/pierscionek.JPG">
    </div>
  </div>

  <div class="paragraph3">
    <p>
      K: Ku mojej uldze obok zamkniętego parku stała pokaźna fortyfikacja. Forte di Belvedere.
      Jako dziecko chciałem zostać królem - to nie mógł być przypadek. Weszliśmy.
    </p>

    <p>
      M: Jak tylko przekroczyliśmy mury zamku, Krzysiek zaczął dziwnie się zachowywać. W jego
      głosie można było wyczuć delikatne zdenerwowanie. Poprosił, żebyśmy odeszli na bok,
      gdzieś gdzie nie ma ludzi i obejrzeli Florencję z lotu ptaka.
    </p>
  </div>

  <div class="content">
    <div class="photo1">
      <img src="assets/images/krzysztof-z-winem.jpg">
    </div>

    <div class="paragraph2">
      <p>K: Nie wiedziałem,
        czy się domyśla, ale wcześniej byłem pewien, że nie będę się stresować.
        Emocje jednak wzięły górę. Chwilę porozmawialiśmy i powiedziałem jej, że ciągle daje mi
        jakieś prezenty bez okazji, więc dziś ja mam coś dla niej. Poprosiłem, aby na chwilę
        odwróciła się tyłem.
      </p>
      <p>
        M: Nie wierzyłam w to co się dzieje! Przez cały czas myślałam, że to na pewno nie
        pierścionek i żebym się nie nastawiała, bo głupio wyjdzie.
      </p>
      <p>
        K: Poprosiłem, aby się odwróciła. Zapytałem czy za mnie wyjdzie, a ona… zapytała, czy nie
        żartuję. Nie takiej odpowiedzi się spodziewałem, więc upewniłem ją, że nie. Przytuliła mnie i
        drżącym głosem powiedziała TAK.
      </p>
      <p>
        “Wybrałem dla Ciebie czarny diament, bo jesteś wyjątkowa i chciałem, aby pierścionek
        zaręczynowy też taki był”.
      </p>
    </div>
  </div>

</div>
