<div class="container">
  <form class="left" [formGroup]="fg" [autocomplete]>
    <div class="login-container">
      <div class="label-container">
        <span class="label" [@valueChanged]="label">{{label}}</span>
      </div>
      <mat-form-field class="input-container">
        <input
          placeholder="Wyszukaj swoje imię lub nazwisko"
          aria-label="Number"
          matInput
          formControlName="name"
          [matAutocomplete]="guestAutocomplete">
        <mat-autocomplete #guestAutocomplete
                          autoActiveFirstOption
                          (optionSelected)="selectUser($event)"
                          [displayWith]="displayProperty">
          <mat-option *ngFor="let guest of filteredOptions | async" [value]="guest">
            {{guest.name}} {{guest.surname}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="getFormControl('name').hasError('unselectedUser')">
          Wybierz swoje imię i nazwisko z powyższej listy
        </mat-error>
      </mat-form-field>

      <div class="password-container" [class.hidden]="!currentGuest">

        <mat-form-field class="input-container">
          <input matInput placeholder="Hasło" type="password" formControlName="password">
          <mat-error *ngIf="getFormControl('password').hasError('incorrectPassword')">
            Niestety ale hasło jest nieprawidłowe
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button type="submit"
                  mat-raised-button
                  (click)="login()"
                  class="button"
          >Zaloguj się
          </button>
        </div>

        <div class="fancy-button-cover" (click)="login()">
          <span>Zaloguj się</span>
        </div>
      </div>
    </div>
  </form>
  <div class="right"></div>
</div>
