@import "../../../styles";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.left {
  //box-shadow: inset 5px 5px 120px 2px $sand;
}

.right {
  background-image: url("../../../assets/images/photo2-683x1024.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 100vh;
}

.login-container,
.password-container {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.input-container {
  min-width: 380px;
}

.label-container {
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.label {
  font-size: 76px;
  color: $dark;
  font-family: GreatVibes-Regular;
}

.button-container {
  margin-top: 4rem;
}

.button {
  padding: 8px 16px;
  color: $white;
  background-color: $green;
  display: none;
}

.fancy-button-cover {
  background: url("../../../assets/images/btn-bg3.png") center center no-repeat;
  position: relative;
  cursor: pointer;

  span {
    font-family: GreatVibes-Regular;
    font-size: 36px;
    z-index: 2;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.hidden {
  opacity: 0;
}

.disable-fill {
  -webkit-text-security: disc;
}

@media screen and (max-width: 960px) {
  //.left {
  //  width: 100%;
  //}
  //.right {
  //  display: none;
  //}
}

@media only screen and (max-device-width: 900px) and (orientation: portrait) {
  .left {
    width: 100%;
  }
  .right {
    display: none;
  }

  .login-container {
    width: 100%;
    padding: 48px 32px;
  }

  .input-container {
    min-width: unset;
    width: 100%;
  }

  .label-container {
    justify-content: center;
  }

  .label {
    font-size: 56px;
  }
}

@media only screen and (max-device-width: 568px) and (orientation: portrait) {
  .label {
    font-size: 44px;
  }

  .fancy-button-cover {
    transform: scale(.65);
  }
}
