@import '~normalize.css';

$dark: #302718;
$gold: #c7ab59;
$sand: #ded2a8;
$white: #ffffff;
$green: #699e3c;

@font-face {
  font-family: MoonTime-Regular;
  src: url("/assets/fonts/GreatVibes-Regular.otf") format('opentype');
}

@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/fonts/Montserrat-Black.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/fonts/Montserrat-Bold.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Light;
  src: url("/assets/fonts/Montserrat-Light.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/fonts/Montserrat-Regular.ttf") format('opentype');
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* .loading screen is visible when app is not bootstrapped yet, my-app is empty */
app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  background: #fff;

  .names {
    color: rgba($gold, .76);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat-Regular, "Helvetica Neue", sans-serif;
}

.mat-form-field-empty.mat-form-field-label {
  color: $dark;
}

.mat-form-field-underline {
  background-color: $dark;
}

/* input color class */
input.mat-input-element {
  color: $dark;
}

/* Change label color on focused */
.mat-form-field.mat-focused .mat-form-field-label {
  color: $gold !important;
}

/* underline border color on focused */
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $gold !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $gold !important;
}

.mat-select-value {
  color: $dark !important;
}

.mat-select-arrow {
  color: $gold !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba($gold, 0.44);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($gold, .56);
  outline: none;
}
