@import '~normalize.css';

$dark: #302718;
$gold: #c7ab59;
$sand: #ded2a8;
$white: #ffffff;
$green: #699e3c;

//@font-face {
//  font-family: MoonTime-Regular;
//  src: url("/assets/fonts/MoonTime-Regular.otf") format('opentype');
//}

//@font-face {
//  font-family: MoonTime-Regular;
//  src: url("/assets/fonts/Young.ttf") format('opentype');
//}

//@font-face {
//  font-family: MoonTime-Regular;
//  src: url("/assets/fonts/Boyfriend.ttf") format('opentype');
//}

//@font-face {
//  font-family: MoonTime-Regular;
//  src: url("/assets/fonts/EyesWideOpen.ttf") format('opentype');
//}

//@font-face {
//  font-family: MoonTime-Regular;
//  src: url("/assets/fonts/CheddarJack.ttf") format('opentype');
//}

@font-face {
  font-family: MoonTime-Regular;
  src: url("/assets/fonts/GreatVibes-Regular.otf") format('opentype');
}

@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/fonts/Montserrat-Black.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/fonts/Montserrat-Bold.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Light;
  src: url("/assets/fonts/Montserrat-Light.ttf") format('opentype');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/fonts/Montserrat-Regular.ttf") format('opentype');
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .names {
    font-family: MoonTime-Regular;
    font-size: 100px;
    margin: 32px 0 0 0;
    transition: .3s;
    color: white;
  }
}

/* .loading screen is visible when app is not bootstrapped yet, my-app is empty */
app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  background: #fff;

  .names {
    color: rgba($gold, .76);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat-Regular, "Helvetica Neue", sans-serif;
}

.mat-form-field-empty.mat-form-field-label {
  color: $dark;
}

.mat-form-field-underline {
  background-color: $dark;
}

/* input color class */
input.mat-input-element {
  color: $dark;
}

/* Change label color on focused */
.mat-form-field.mat-focused .mat-form-field-label {
  color: $gold !important;
}

/* underline border color on focused */
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $gold !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $gold !important;
}

.mat-select-value {
  color: $dark !important;
}

.mat-select-arrow {
  color: $gold !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba($gold, 0.44);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($gold, .56);
  outline: none;
}
